* {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0; }

.top {
  background-color: #000;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 75px;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }
  .top__logo {
    cursor: pointer;
    width: 245px; }
  .top__menu {
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px - 250px - 20px); }
    .top__menu__item {
      cursor: pointer;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-transform: uppercase; }
      .top__menu__item--noUpperCase {
        text-transform: none; }
      .top__menu__item--active, .top__menu__item:hover {
        color: yellowgreen; }
    .top__menu__button {
      background-color: yellowgreen;
      border: none;
      color: #fff;
      cursor: pointer;
      height: 40px;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
      width: 200px; }
      .top__menu__button:hover {
        background-color: #fff;
        color: yellowgreen; }
  .top__bars {
    color: white;
    cursor: pointer;
    display: none;
    font-size: 3rem; }

.landing {
  align-items: center;
  background: url("./images/bg-landing.jpg") center top/cover no-repeat;
  display: flex;
  flex-direction: column;
  height: 52vw;
  justify-content: space-around;
  position: relative; }
  .landing__title {
    color: white;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    justify-content: center;
    text-shadow: 1px 1px 5px #000; }
    .landing__title--big {
      font-size: 6rem;
      left: -68px;
      position: relative; }
  .landing__central {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .landing__central__text {
      color: #fff;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase; }
    .landing__central__buttons {
      padding: 10px 0 50px; }
      .landing__central__buttons__request {
        background-color: #fff;
        border: none;
        color: yellowgreen;
        cursor: pointer;
        height: 40px;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        width: 200px;
        margin-right: 1.5vw; }
        .landing__central__buttons__request:hover {
          background-color: yellowgreen;
          color: #fff; }
      .landing__central__buttons__get {
        background-color: yellowgreen;
        border: none;
        color: #fff;
        cursor: pointer;
        height: 40px;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        width: 200px;
        margin-left: 1.5vw; }
        .landing__central__buttons__get:hover {
          background-color: #fff;
          color: yellowgreen; }
  .landing__featuring {
    bottom: 4vw;
    color: #fff;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
    position: absolute;
    width: 100%; }
    .landing__featuring__person {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 0 2.5vw; }
      .landing__featuring__person__intro {
        font-size: 1.3vw; }
      .landing__featuring__person__name {
        font-size: 2vw;
        font-weight: bold; }
  .landing__sponsors {
    align-items: center;
    position: absolute;
    bottom: 4vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 100%; }
    .landing__sponsors__item {
      margin: 0 1vw;
      max-height: 2vw;
      max-width: 12vw; }
      .landing__sponsors__item--desktop {
        display: inline; }
      .landing__sponsors__item--mobile {
        display: none; }

.second {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .second__carousel {
    display: flex;
    justify-content: center;
    margin: 80px 0 40px;
    width: 100%; }
    .second__carousel__item:nth-of-type(1) {
      color: yellowgreen; }
    .second__carousel__item:nth-of-type(2) {
      color: royalblue; }
    .second__carousel__item:nth-of-type(3) {
      color: sienna; }
    .second__carousel__item:nth-of-type(4) {
      color: teal; }
    .second__carousel__item:nth-of-type(5) {
      color: purple; }
    .second__carousel__item:nth-of-type(6) {
      color: darkcyan; }
    .second__carousel__item:nth-of-type(7) {
      color: green; }
    .second__carousel__item:nth-of-type(8) {
      color: olivedrab; }
    .second__carousel__item:nth-of-type(9) {
      color: brown; }
    .second__carousel__item:nth-of-type(10) {
      color: deeppink; }
    .second__carousel__item:nth-of-type(11) {
      color: forestgreen; }
    .second__carousel__item:nth-of-type(12) {
      color: dodgerblue; }
    .second__carousel__item:nth-of-type(13) {
      color: steelblue; }
    .second__carousel__item:nth-of-type(14) {
      color: darkkhaki; }
    .second__carousel__item:nth-of-type(15) {
      color: crimson; }
    .second__carousel__item {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      margin: 0 1.2vw;
      position: relative; }
      .second__carousel__item__tooltip {
        background-color: lightgray;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.9rem;
        padding: 10px 50px;
        position: absolute;
        top: -55px;
        transform: scaleX(0) translateY(0);
        transition: all 0.2s ease-out; }
        .second__carousel__item__tooltip:after {
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-top: 12px solid lightgray;
          content: '';
          height: 0;
          left: 50%;
          margin-left: -7px;
          position: absolute;
          top: 100%;
          width: 0; }
      .second__carousel__item__img {
        display: flex; }
        .second__carousel__item__img img {
          max-height: 30px;
          transition: all 0.2s ease-in;
          width: 30px; }
      .anim .second__carousel__item__img img {
        transform: scale(1.8); }
      .anim .second__carousel__item__tooltip {
        transform: scaleX(1) translateY(-10px); }
  .second__text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 25px;
    text-align: center;
    width: 50vw; }
    .second__text__title {
      color: yellowgreen;
      font-size: 2rem;
      text-transform: uppercase; }
  .second__buttons {
    margin: 50px 0; }
    .second__buttons__join, .second__buttons__trailer {
      background-color: yellowgreen;
      border: none;
      color: #fff;
      cursor: pointer;
      height: 40px;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
      width: 200px;
      border: solid 1px yellowgreen;
      margin: 0 10px; }
      .second__buttons__join:hover, .second__buttons__trailer:hover {
        background-color: #fff;
        color: yellowgreen; }

.download {
  background: url("images/bg-monster.jpg") center center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 3vw 10px; }
  .download__left {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px; }
    .download__left__phones__img {
      height: 18vw; }
    .download__left__text {
      text-align: center; }
      .download__left__text h3 {
        font-size: 2rem;
        text-transform: uppercase; }
      .download__left__text p {
        line-height: 28px; }
    .download__left__stores__img {
      cursor: pointer;
      margin: 0 15px;
      width: 128px; }
  .download__right {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
    width: 600px; }
    .download__right__img {
      width: 100%; }
    .download__right__button {
      background-color: lightgray;
      border: none;
      color: #000;
      cursor: pointer;
      height: 40px;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
      width: 200px;
      border: solid 1px lightgray;
      margin-top: 30px; }
      .download__right__button:hover {
        background-color: #000;
        color: lightgray; }
      .download__right__button:hover {
        background-color: transparent; }

/* small desktops*/
@media (max-width: 1200px) {
  .top__menu {
    display: none; }
  .top__bars {
    display: inline; }
  .second__text {
    width: 75vw; }
  .download__left {
    width: 50vw; }
    .download__left__phones__img {
      height: 20vw; }
  .download__right {
    padding-right: 10px;
    width: 50vw; } }

/* tablets */
@media (max-width: 870px) {
  .top__logo {
    width: 27vw; }
  .landing {
    background-position: bottom; }
    .landing__title {
      font-size: 1.5rem; }
      .landing__title--big {
        font-size: 4rem;
        left: -30px; }
    .landing__central {
      bottom: 0;
      position: absolute; }
      .landing__central__text {
        font-size: 4vw; }
      .landing__central__buttons {
        padding: 0; }
    .landing__featuring {
      top: 11vw;
      padding: 0 2vw; }
      .landing__featuring__person__intro {
        font-size: 0.8rem; }
      .landing__featuring__person__name {
        font-size: 1rem; }
    .landing__sponsors {
      align-content: center;
      background-color: black;
      flex-wrap: wrap;
      height: 27vw;
      padding: 0 20vw;
      top: 52vw; }
      .landing__sponsors__item {
        margin: 2vw;
        max-height: 3.5vw;
        max-width: 100%; }
  .second {
    margin-top: 27vw; }
    .second__carousel {
      display: none; }
    .second__text {
      padding: 20px;
      width: 100%; }
    .second__buttons {
      margin: 15px 0; }
      .second__buttons__join {
        background-color: #fff;
        color: yellowgreen; }
        .second__buttons__join:hover {
          background-color: yellowgreen;
          color: #fff; }
  .download {
    flex-direction: column; }
    .download__left {
      width: 85vw; }
    .download__right {
      margin-top: 3vw; } }

/* phones */
@media (max-width: 640px) {
  .top__logo {
    width: 50vw; }
  .landing {
    background: #000 url("images/bg-landing-mobile.jpg") center top/contain no-repeat;
    height: 173vw; }
    .landing__title {
      display: none; }
    .landing__central {
      bottom: 15vw;
      display: flex; }
      .landing__central__text {
        font-size: 7vw; }
      .landing__central__buttons {
        display: flex;
        flex-direction: column;
        margin-top: 3vw; }
        .landing__central__buttons__request, .landing__central__buttons__get {
          margin: 15px; }
        .landing__central__buttons__request {
          background-color: #fff;
          color: yellowgreen; }
          .landing__central__buttons__request__hover {
            background-color: yellowgreen;
            color: #fff; }
    .landing__featuring {
      bottom: 70vw;
      top: auto; }
      .landing__featuring__person__intro {
        font-size: 3.8vw; }
      .landing__featuring__person__name {
        font-size: 4.3vw; }
    .landing__sponsors {
      height: 50vw;
      justify-content: space-between;
      padding: 5vw 12vw;
      top: 160vw; }
      .landing__sponsors__item {
        margin: 2vw;
        max-height: 9vw;
        max-width: 34vw; }
        .landing__sponsors__item--desktop {
          display: none; }
        .landing__sponsors__item--mobile {
          display: inline; }
  .second {
    margin-top: 37vw; }
    .second__text {
      padding: 0 20px; }
      .second__text__title {
        font-size: 2rem; }
    .second__buttons {
      display: flex;
      flex-direction: column;
      height: 100px;
      justify-content: space-between; }
  .download {
    padding: 5vw 10px; }
    .download__left {
      width: 100%; }
      .download__left__phones__img {
        height: 42vw; }
      .download__left__text h3 {
        font-size: 1.5rem; }
      .download__left__stores__img {
        margin: 0 3vw; }
    .download__right {
      padding: 0 5vw;
      width: 100vw; } }
