/* Colors */
$primary-green: yellowgreen;
$secondary-button: #fff;
$tooltip-colors: yellowgreen royalblue sienna teal purple darkcyan green olivedrab brown deeppink forestgreen dodgerblue steelblue darkkhaki crimson;

/* Transitions time */

$button-time: 200ms;
$carousel-time: 200ms;
$menu-time: 400ms;